html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;

}

body.correct {
    background-color: rgb(167, 255, 207);
}

body.wrong {
    background-color: rgb(240, 86, 86);
}

.container {
    width: 800px;
    max-width: 80%;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.103) 0 0 40px 5px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-message {
    text-align: center;
}

#question {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {

    background-color: #2083ff;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    color: rgb(1, 255, 115)
}

.btn.wrong {
    color: rgb(255, 8, 0);
}

.btn,
.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

/* Start & Next Button Styling */
.start-btn,
.next-btn {
    box-shadow: #2084ff50 0 10px 30px 5px !important;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

